---
import { BackToTop } from "../components/BackToTop";
import { InteractivePortfolio } from "../components/InteractivePortfolio";
import { Navigation } from "../components/Navigation";
import { ThemeProvider } from "../components/ThemeProvider";
import { VectorBackground } from "../components/VectorBackground";
import { Toaster } from "../components/ui/sonner";
import Layout from "../layouts/Layout.astro";
import { loadAll } from "../lib/data";
import "../styles/globals.css";

const { config, resume } = loadAll();
---
<Layout config={config} resume={resume}>
  <ThemeProvider client:only="react" defaultTheme="light" storageKey="portfolio-theme">
    <Navigation client:only="react" config={config} basics={resume.basics} />
    <div class="relative z-10 flex flex-col md:flex-row min-h-screen">
      <InteractivePortfolio client:only="react" resume={resume} config={config} />
      <BackToTop client:only="react" />
    </div>
    <VectorBackground client:only="react" />
    <Toaster client:only="react" />
  </ThemeProvider>
</Layout>